/* 全局样式 */
font {
  font-weight: 700;
}
p {
  text-indent: 2em;
}
p > a {
  text-indent: 0em;
}
/* 移动端样式 */
@media screen and (max-width: 768px) {
  /* 文档标题和时间统计/字数错位修复 */
  .content {
    padding-top: 95px !important;
  }
  /* 首页开屏按钮错位修复 */
  body > section > div.cover-main > p > a:nth-child(2) {
    position: relative;
    left: 4%;
  }
}
/* 警告框 */
ol,
p,
ul {
  line-height: 1.7;
}
.custom-block.warning {
  background-color: rgba(255, 229, 100, 0.3);
  border-color: #e7c000;
  color: #6b5900;
}
.custom-block.danger {
  background-color: rgb(255 230 230);
  border-color: rgb(204 0 0);
  color: rgb(77 0 0);
}
.custom-block.tip {
  background-color: rgb(243 245 247);
  border-color: rgb(66 185 131);
}
.custom-block.danger,
.custom-block.tip,
.custom-block.warning {
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
}
.custom-block.warning .custom-block-title {
  color: #b29400;
}
.custom-block.danger .custom-block-title {
  color: rgb(153 0 0);
}
.custom-block .custom-block-title {
  font-weight: 600;
  margin-bottom: -0.4rem;
}
@media screen and (max-width: 768px) {
  .fly_to_top {
    right: -20px !important;
    transition: 0.3s;
    bottom: -51px !important;
    opacity: 1;
    transform: scale(0.4) !important;
    display: none;
  }
}

.fly_to_top {
  position: fixed;
  right: 5px;
  transition: 0.3s;
  bottom: -40px;
  opacity: 1;
  transform: scale(0.8);
  display: none;
}
.fly_to_top:hover {
  opacity: 0.7;
}
/* 图片样式调整 */
.promise {
  max-width: 60%;
  max-height: 80%;
}
