p {
  text-indent: 2em;
}
p > a {
  text-indent: 0em;
}
font {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .content {
    padding-top: 80px !important;
  }
  body > section > div.cover-main > p > a:nth-child(2) {
    position: relative;
    left: 4%;
  }
}
